*pyc

# documentation artifacts
html/*
!html/HTML_DOCS_WILL_BE_GENERATED_HERE
packages/duckietown/config/baseline/apriltags
packages/duckietown/config/baseline/apriltags_ros
packages/duckietown/config/baseline/auto_calibration
packages/duckietown/config/baseline/calibration
packages/duckietown/config/baseline/charging_control
packages/duckietown/config/baseline/dagu_car
packages/duckietown/config/baseline/duckietown_description
packages/duckietown/config/baseline/fleet_planning
packages/duckietown/config/baseline/fsm
packages/duckietown/config/baseline/ground_projection
packages/duckietown/config/baseline/implicit_coordination
packages/duckietown/config/baseline/intersection_control
packages/duckietown/config/baseline/joy
packages/duckietown/config/baseline/joy_mapper
packages/duckietown/config/baseline/kinematics
packages/duckietown/config/baseline/lane_control
packages/duckietown/config/baseline/lane_filter
packages/duckietown/config/baseline/led_detection
packages/duckietown/config/baseline/led_emitter
packages/duckietown/config/baseline/led_interpreter
packages/duckietown/config/baseline/line_detector
packages/duckietown/config/baseline/localization
packages/duckietown/config/baseline/maintenance_control
packages/duckietown/config/baseline/mdoap
packages/duckietown/config/baseline/navigation
packages/duckietown/config/baseline/parallel_autonomy
packages/duckietown/config/baseline/pi_camera
packages/duckietown/config/baseline/steering_wheel
packages/duckietown/config/baseline/stop_line_filter
packages/duckietown/config/baseline/tcp_communication
packages/duckietown/config/baseline/traffic_light
packages/duckietown/config/baseline/unicorn_intersection
packages/duckietown/config/baseline/veh_coordinator
packages/duckietown/config/baseline/vehicle_detection
packages/duckietown/config/baseline/visual_odometry
packages/duckietown/config/baseline/visual_odometry_line
